body {
  background-color: rgb(239, 245, 252);
}

.page-title {
  text-align: center;
  font-size: 2.5vw;
  font-family: "Oswald", sans-serif;
}

.form {
  text-align: center;
  padding-bottom: 15px;
}

.table-title {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.table {
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.submit-button {
  text-align: center;
}

.button {
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 18px;
}

.input-field {
  padding: 12px 20px;
  width: 200px;
  font-size: 15px;
}

.table td,
.table th {
  border: 2px solid rgb(122, 119, 119);
  padding: 8px;
}

.table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.delete-button {
  border-radius: 20px;
}
